/* color palette from <https://github.com/vuejs/theme> */
// :root {}

/* semantic color variables for this project */
// :root {}

@media (prefers-color-scheme: dark) {
  // :root {}
}

body {
  margin: 0;
  min-height: 100vh;
  /*color: var(--color-text);*/
  /*background: var(--color-background);*/
  transition: color 0.5s,
  background-color 0.5s;
  font-family: -apple-system, "Noto Sans", "Helvetica Neue",
  Helvetica, "Nimbus Sans L", Arial, "Liberation Sans",
  "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC",
  "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei",
  "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti",
  SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
