@use './reset.scss' as *;
@use './base.scss' as *;

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

@media (hover: hover) {}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  // #app {}
}
