/**
 * @Description: 全局变量
 * @Author: xmasuhai <xmasuhai@163.com>
 * @Date: 2026-09-25 15:53:59
 * @LastEditors: xmasuhai <xmasuhai@163.com>
 * @LastEditTime: 2026-09-25 21:17:02
 * @FilePath: src/assets/styles/vars.scss
 */

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --welcome-card-bg-color: white;
  --welcome-text: white;
  --title-text: #D4D4EE;
  --primary-color: #6035BF;
}

/* semantic color variables for this project */
// :root {}

@media (prefers-color-scheme: dark) {
  // :root {}
}
